@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 0%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 321 100% 54%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 295 100% 50%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84.2% 60.2%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 321 100% 54%;
    --radius: 0.625rem;
    --chart-1: 321 100% 54%;
    --chart-2: 295 100% 50%;
    --chart-3: 321 80% 45%;
    --chart-4: 295 80% 45%;
    --chart-5: 321 60% 40%;
  }

  .dark  :root {
    --background: 0 0% 0%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 321 100% 54%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 295 100% 50%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84.2% 60.2%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 321 100% 54%;
    --radius: 0.625rem;
    --chart-1: 321 100% 54%;
    --chart-2: 295 100% 50%;
    --chart-3: 321 80% 45%;
    --chart-4: 295 80% 45%;
    --chart-5: 321 60% 40%;
  }
}
